.description_container {
    height: fit-content;
    padding-top: 150px;
    margin-bottom: 30vh;
    .ms_container {
        flex-direction: column;
        margin-top: -100px;
    }
    .description {
        font-size: 1.5em;
    }
}


/* Carta del guest */

.card_description {
    .card-header {
        background-color: #1ca6a8;
        color: white;
    }
    .list-group-item {
        background: #f2efc4!important;
    }
}